n8n_extraction_workflow.json
{
    "name": "Extracción Facturas (OCR + OpenAI Agent)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "extract",
                "responseMode": "responseNode",
                "options": {
                    "binaryData": true
                }
            },
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                300,
                340
            ],
            "id": "webhook-trigger"
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $binary.file.mimeType }}",
                            "operation": "contains",
                            "value2": "pdf"
                        }
                    ]
                }
            },
            "name": "Es PDF?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                500,
                340
            ],
            "id": "is-pdf-check"
        },
        {
            "parameters": {
                "model": "mistral-large-latest",
                "options": {
                    "temperature": 0
                },
                "prompt": "Transcribe TODO el texto visible de este documento PDF exactamente como aparece. NO interpretes nada, solo extrae el texto crudo completo incluyendo números, fechas y nombres."
            },
            "name": "Mistral OCR PDF",
            "type": "n8n-nodes-base.mistralAi",
            "typeVersion": 1,
            "position": [
                700,
                240
            ],
            "id": "mistral-ocr-pdf",
            "notes": "Solo OCR - Transcripción de texto"
        },
        {
            "parameters": {
                "model": "mistral-large-latest",
                "options": {
                    "temperature": 0
                },
                "prompt": "Transcribe TODO el texto visible de esta imagen exactamente como aparece. NO interpretes nada, solo extrae el texto crudo completo incluyendo números, fechas y nombres. Si hay tablas, mantén la estructura."
            },
            "name": "Mistral OCR Imagen",
            "type": "n8n-nodes-base.mistralAi",
            "typeVersion": 1,
            "position": [
                700,
                440
            ],
            "id": "mistral-ocr-imagen",
            "notes": "Solo OCR - Transcripción de texto"
        },
        {
            "parameters": {
                "model": "gpt-4o",
                "options": {
                    "temperature": 0.1
                },
                "messages": {
                    "values": [
                        {
                            "role": "system",
                            "content": "Eres un experto contable español. Tu trabajo es analizar texto extraído de facturas y tickets y estructurar los datos en JSON.\n\nDEBES devolver SOLO un objeto JSON válido con esta estructura exacta:\n{\n  \"fecha\": \"DD/MM/YYYY\",\n  \"numero_factura\": \"string\",\n  \"base_imponible\": number,\n  \"cuota_iva\": number,\n  \"total\": number,\n  \"proveedor\": \"string\",\n  \"cif_proveedor\": \"string\"\n}\n\nReglas:\n- Fechas siempre en formato DD/MM/YYYY\n- Números con punto decimal (ej: 125.50)\n- Si falta base_imponible, calcula: total - cuota_iva\n- Si falta cuota_iva, calcula: total - base_imponible\n- Si no encuentras un campo, pon null\n- NO añadas explicaciones, SOLO el JSON"
                        },
                        {
                            "role": "user",
                            "content": "={{ 'Analiza el siguiente texto extraído de una factura y devuelve el JSON estructurado:\\n\\n' + $json.content }}"
                        }
                    ]
                }
            },
            "name": "OpenAI Agente Contable",
            "type": "n8n-nodes-base.openAi",
            "typeVersion": 1.5,
            "position": [
                920,
                340
            ],
            "id": "openai-agent",
            "credentials": {
                "openAiApi": {
                    "id": "YOUR_OPENAI_CREDENTIAL_ID",
                    "name": "OpenAI API"
                }
            },
            "notes": "Interpreta el OCR y estructura los datos"
        },
        {
            "parameters": {
                "jsCode": "// Extraer respuesta de OpenAI\nconst choices = $input.all()[0].json.choices || [];\nconst messageContent = choices[0]?.message?.content || '{}';\n\nlet extractedData = {};\n\n// Limpiar markdown si existe\nlet cleanedContent = messageContent.replace(/```json/g, '').replace(/```/g, '').trim();\nconst firstBrace = cleanedContent.indexOf('{');\nconst lastBrace = cleanedContent.lastIndexOf('}');\nif (firstBrace !== -1 && lastBrace !== -1) {\n    cleanedContent = cleanedContent.substring(firstBrace, lastBrace + 1);\n}\n\ntry {\n  extractedData = JSON.parse(cleanedContent);\n} catch (e) {\n  extractedData = { error: 'Error parseando JSON', raw: messageContent };\n}\n\nreturn [{ json: extractedData }];"
            },
            "name": "Limpiar JSON",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                1140,
                340
            ],
            "id": "clean-json-node"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseDataSource": "set",
                "dataPropertyName": "data",
                "options": {}
            },
            "name": "Responder JSON",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1360,
                340
            ],
            "id": "response-node"
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Es PDF?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Es PDF?": {
            "main": [
                [
                    {
                        "node": "Mistral OCR PDF",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Mistral OCR Imagen",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Mistral OCR PDF": {
            "main": [
                [
                    {
                        "node": "OpenAI Agente Contable",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Mistral OCR Imagen": {
            "main": [
                [
                    {
                        "node": "OpenAI Agente Contable",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Agente Contable": {
            "main": [
                [
                    {
                        "node": "Limpiar JSON",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Limpiar JSON": {
            "main": [
                [
                    {
                        "node": "Responder JSON",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}