n8n_extraction_workflow.json
{
    "name": "Extracción Facturas (JSON)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "extract",
                "responseMode": "responseNode",
                "options": {
                    "binaryData": true
                }
            },
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                380,
                340
            ],
            "id": "webhook-trigger"
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $binary.file.mimeType }}",
                            "operation": "contains",
                            "value2": "pdf"
                        }
                    ]
                }
            },
            "name": "Es PDF?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                600,
                340
            ],
            "id": "is-pdf-check"
        },
        {
            "parameters": {
                "model": "mistral-large-latest",
                "options": {
                    "temperature": 0.1
                },
                "prompt": "Analiza este DOCUMENTO PDF adjunto y extrae información en JSON estricto:\n- fecha\n- numero_factura\n- base_imponible\n- cuota_iva\n- total\n- proveedor\n- cif_proveedor"
            },
            "name": "Mistral PDF",
            "type": "n8n-nodes-base.mistralAi",
            "typeVersion": 1,
            "position": [
                820,
                240
            ],
            "id": "mistral-pdf",
            "notes": "Configura aquí modo DOCUMENTO"
        },
        {
            "parameters": {
                "model": "mistral-large-latest",
                "options": {
                    "temperature": 0.1
                },
                "prompt": "Analiza esta IMAGEN adjunta y extrae información en JSON estricto:\n- fecha\n- numero_factura\n- base_imponible\n- cuota_iva\n- total\n- proveedor\n- cif_proveedor"
            },
            "name": "Mistral Vision",
            "type": "n8n-nodes-base.mistralAi",
            "typeVersion": 1,
            "position": [
                820,
                440
            ],
            "id": "mistral-vision",
            "notes": "Configura aquí modo VISIÓN"
        },
        {
            "parameters": {
                "jsCode": "// Unificamos respuesta de ambas ramas\nconst mistralContent = $input.all()[0].json.content || '{}';\nlet extractedData = {};\ntry {\n  extractedData = JSON.parse(mistralContent);\n} catch (e) {\n  extractedData = { error: 'Error parseando JSON de IA', raw: mistralContent };\n}\n\n// Recuperamos metadatos originales del body (OJO: al pasar por nodos AI a veces se pierde el body original, asegurarse de pasarlo o recuperarlo del webhook)\n// Simplificación para demo: asumimos que la data está en el item\nreturn [{\n  json: {\n    ...extractedData\n  }\n}];"
            },
            "name": "Limpiar JSON",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                1040,
                340
            ],
            "id": "clean-json-node"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseDataSource": "set",
                "dataPropertyName": "data",
                "options": {}
            },
            "name": "Responder JSON",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1260,
                340
            ],
            "id": "response-node"
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Es PDF?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Es PDF?": {
            "main": [
                [
                    {
                        "node": "Mistral PDF",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Mistral Vision",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Mistral PDF": {
            "main": [
                [
                    {
                        "node": "Limpiar JSON",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Mistral Vision": {
            "main": [
                [
                    {
                        "node": "Limpiar JSON",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Limpiar JSON": {
            "main": [
                [
                    {
                        "node": "Responder JSON",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}